.lesson {
  width: 50%;
  min-height: 337px;
  background-color: $blue;
}

.lesson__wrapper {
  max-width: 680px;
  height: 100%;

  display: flex;
  margin-left: auto;
  padding-top: 58px;
  padding-right: 5px;
}

.lesson__content {
  width: 410px;
  min-height: 197px;
  margin-right: auto;
  margin-left: 100px;
}

.lesson__title {
  @include font($font: $bebas, $size: 49px, $height: 64px);

  margin: 0;
  letter-spacing: 0.04em;
  text-transform: lowercase;
  margin-bottom: 35px;
  color: $white;
}

.lesson__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.lesson__form input[type="text"] {
  @include font($font: $roboto, $size: 14px, $height: 16px);

  width: 190px;
  background-color: $darkblue;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $blue-brd;
  margin-bottom: 28px;
  padding: 5px 0;
  cursor: pointer;
  color: $white;

  &::placeholder {
    @include font($font: $roboto, $size: 14px, $height: 16px);

    text-transform: capitalize;
    color: $white;
  }
}

.lesson__form input[type="submit"] {
  @include font($font: $robotoBold, $size: 14px, $height: 16px);

  width: 100%;
  min-height: 55px;
  border: 3px solid $white;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
  color: $white;
  transition: opacity 0.2s 0.1s;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

@media (max-width: $desktop-width) {
  .lesson {
    width: 100%;
    min-height: 324px;
  }

  .lesson__title {
    @include font($font: $bebas, $size: 42px, $height: 42px);
  }

  .lesson__wrapper {
    margin: 0 auto;
    padding-top: 67px;
    padding-right: 0;
  }

  .lesson__content {
    width: 502px;
    margin: 0 auto;
    padding-right: 30px;
  }

  .lesson__form input[type="text"] {
    width: 206px;
  }
}

@media (max-width: $tablet-width) {
  .lesson__content {
    width: 290px;
    padding-right: 0;
  }

  .lesson__title {
    @include font($font: $bebas, $size: 32px, $height: 32px);
    margin-bottom: 40px;
  }

  .lesson__form input[type="text"] {
    width: 100%;
    margin-bottom: 31px;
  }

  .lesson__input--name {
    margin-bottom: 32px;
  }

  .lesson__input--phone {
    margin-bottom: 39px;
  }


  .lesson__form input[type="submit"] {
    margin-bottom: 68px;
    margin-top: 7px;
  }
}
