@font-face {
  font-family: "BebasNeueRegular";
  src: url("../fonts/BebasNeueRegular.woff2") format("woff2"),
    url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto_Condensed";
  src: url("../fonts/Roboto_Condensed.woff2") format("woff2"),
    url("../fonts/Roboto_Condensed.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto_Condensed_Bold";
  src: url("../fonts/Roboto_Condensed_Bold.woff2") format("woff2"),
    url("../fonts/Roboto_Condensed_Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
