@mixin font($font, $size, $height) {
  font-family: $font;
  font-size: $size;
  line-height: $height;
}

@mixin container() {
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: $desktop-width) {
    max-width: 768px;
  }

  @media (max-width: $tablet-width) {
    min-width: 320px;
  }
}
