@mixin font($font, $size, $height) {
  font-family: $font;
  font-size: $size;
  line-height: $height;
}

@mixin container() {
  max-width: 1360px;
  margin: 0 auto;

  /*@media (max-width: $desktop-width) {
    max-width: px;
  }*/

  /*@media (max-width: $tablet-width) {
    max-width: 767px;
  }*/
}
