//fonts

$title: "BebasNeue-Regular";
$text: "RobotoCondensed-Regular";
$bold: "RobotoCondensed-Bold";

// widths

$desktop-width: 1023px;
$tablet-width: 767px;


// colors



// retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
